I dare you... to
<p>
<%= form_for(@task= Task.order('RANDOM()').first) do |f| %>
<div id = "rand_form">
  <div id="field">
    <%= f.label :name %><br />
    <%= f.text_area(:name, :size => "20x3", :disabled => true)%>
  </div>
  <div id="field">
    <%= f.label :category %><br />
    <%= f.text_field :category, :size => 20, :disabled=>true %>
  </div>
  <div class="actions">
    <%= f.submit "generate"%>
  </div>
<% end %>
</p>
