<!DOCTYPE html>
<html>
<head>
  <title>Bored</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id = 'header'>
    <div id = "header_bar_1">
        <table = "header_bar">
          <tr>
            <td> Auth with: </td>
            <td> <%= link_to "Facebook" %></td>
            <td> <%= link_to "Gmail" %></td>
            <td> <%= link_to "Yahoo" %></td>
             <td> </td>
           </tr> 
      </table>
    </div>
    <div id = "header_bar_2" align='right'>      
      <table = "header_bar">
        <tr>
          <td> <%= link_to "login" %></td>
          <td> <%= link_to "statistics" %></td>
          <td> <%= link_to "Contact" %></td>
         </tr> 
      </table>
    </div>
  </div>

  <h1>Warzaru.1.ai</h1>
  <p>You will find allways something to do here</p>

    <%= yield %>
  
</body>
<div id = 'footer'>
      <%= link_to 'Home', 'tasks#main'%>
      <%= link_to 'Auth', 'tasks#main'%>
      <%= link_to 'Home', 'tasks#main'%>
      <%= link_to 'Contact', 'tasks#main'%>
      <br>
      Copyright @ Bogdan Maier ~ <a href="mailto:bogdan.maier1@gmail.com"> Contact email</a>
    </div>
</body>
</html>