  <div id = 'header'>
    <div id = "header_bar_1">
        <table = "header_bar">
          <tr>
            <td> Auth with: </td>
            <td> <%= link_to "Facebook" %></td>
            <td> <%= link_to "Gmail" %></td>
            <td> <%= link_to "Yahoo" %></td>
             <td> </td>
           </tr> 
      </table>
    </div>
    <div id = "header_bar_2" align='right'>      
      <table = "header_bar">
        <tr>
          <td> <%= link_to "login" %></td>
          <td> <%= link_to "statistics" %></td>
          <td> <%= link_to "Contact" %></td>
         </tr> 
      </table>
    </div>
  </div>